.pkmn-app {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.controls {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.controls .option {
  margin: 0 10px;
}

.controls input {
  /*margin: 0 5px;*/
}

.pkmn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pkmn-container.section {
  padding-top: 0;
}

.pokemon {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /*padding: 3px;*/
  transition: background-color .2s;
}

.background {
  border-radius: 4px;
  transition: .2s;
}

.background.hovered {
  background-color: #b4c0ff;
}

.pokemon .sprite {
  background-size: cover;
  transition: .5s;
  filter: saturate(0);
}

.pokemon.not-caught {
  filter: brightness(50%);
  transition: .3s;
}

.pokemon.caught {
  filter: brightness(100%);
}

.pokemon.caught .sprite {
  filter: saturate(1);
}